---
import DarkModeSwitch from '../components/DarkModeSwitch.astro';
interface Props {
	title: string;
}
const svg_common_classes = " w-12 h-12 text-gray-800 dark:text-white hover:rotate-12 hover:text-orange-500 dark:hover:text-orange-500 duration-300 hover:scale-110 "
const { title } = Astro.props;

---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>



<div class="relative w-full h-full flex flex-col justify-between font-poiret">
	<header class="relative mx-0 md:mx-10 xl:mx-0 flex flex-row justify-end items-center">
		<h1
		  transition:animate="slide"
		  class="flex-grow font-bold text-4xl md:mb-0 mb-4 dark:text-white text-gray-800 select-none text-center md:text-left"
		> Ivan Sosa
		
		  <span class="font-thin">Software Developer<span>
		</h1>
		<div
		  class={`
			fixed md:top-8 right-4 md:right-auto md:bottom-auto bottom-10
			flex flex-row justify-between items-center gap-x-4
			py-2 px-4 dark:bg-slate-800/80 bg-slate-100/50 rounded-full
			shadow-sm hover:shadow-xl mr-1 duration-300 z-50
			backdrop-blur-sm
		  `}
		  id="menu"
		>
		<DarkModeSwitch />
		<div class="w-2 h-10 rounded-full dark:bg-[#1d2022] bg-[#efeae3]"></div>
		  <div class="relative w-8 h-8">
		  </div>
		</div>
	  </header>
	<body>
	
		<slot />

	</body>
</html>
<style is:global>
	:root {
		--accent: 136, 58, 234;
		--accent-light: 224, 204, 250;
		--accent-dark: 49, 10, 101;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			rgb(var(--accent-light)) 30%,
			white 60%
		);
	}
	html {
		font-family: system-ui, sans-serif;
		background: whitesmoke;
		background-size: 224px;
	}
	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}
  /* Estilos para el modo oscuro */
  .dark {
    background-color: #1d2022; /* Color de fondo oscuro */
    color: #fff; /* Color de texto en modo oscuro */
  }

  /* Aplicar fondo oscuro a todo el cuerpo de la página en modo oscuro */
  .dark body {
    background-color: #1d2022; /* Color de fondo oscuro */
  }
</style>
